.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default {
  border: 1px solid cornflowerblue;
  padding: 14.5px;
  /* transition: 0.2s; */
  /* height: 50px; */
}

.clicked {
  border: 1px solid cornflowerblue;
  padding: 14.5px;
  background-color: lightgray;
  /* transform: scale(1.1); */
  /* border-radius: 5px; */
}
.default:hover {
  background-color: lightgray;
  /* transform: scale(1.05); */
  border-radius: 5px;
}
.moves {
  cursor: pointer;
  padding: 50px;
  border: 2px solid lightgrey;
  text-shadow: #61dafb;
  background-color: white;
  transition: 0.2s;
  border-radius: 10px;
  /* margin: 2px; */
}
.box {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}
.moves:hover {
  background-color: cornflowerblue;
  color: white;
  transform: scale(1.1);
}
.boxText {
  font-size: large;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.matrixTxt {
  font-size: large;
}

.matrixRow:nth-child(3n) {
  border-right: 2px solid black;
  /* border-bottom: 3px solid black; */
}

.matrixCol {
  border-top: 2px solid black;
}
